.container.mb-5#following-list
    .row.justify-content-center.mb-3
        .col-md-8.col-lg-6
            div.d-flex.justify-content-center#filter-buttons
                button.btn.btn-primary.mx-2.px-2(type="button" name="all") Show All
                button.btn.btn-primary.mx-2.px-2(type="button" name="online") Online
                button.btn.btn-primary.mx-2.px-2(type="button" name="offline") Offline
    .row.justify-content-center
        .col-md-8.col-lg-6#show-stream
            each user in followingListData
                .bg-dark-purple.mb-3.rounded(class= user.streamType && user.streamType.includes('live') ? 'online-user' : 'offline-user')
                    .row.no-gutters#user-information
                        .col-auto
                            img(
                                src= user.userProfileImageUrl,
                                alt= `${user.username}'s Profile Picture`
                                title= `${user.username}'s Profile Picture`
                            ).profile-picture.rounded
                        .col.mx-2.m-1
                            .row.no-gutters.mb-1
                                .col
                                    h4: a(
                                        href=`https://www.twitch.tv/${user.username}`,
                                        target="_blank",
                                        rel="noopener noreferrer"
                                    )= user.userDisplayName ? user.userDisplayName : user.username
                                .col-auto
                                    p: a(
                                        href=`https://www.twitch.tv/${user.username}/about`, target="_blank",
                                        rel="noopener noreferrer"
                                        class="badge badge-pill badge-primary px-3 py-1"
                                        ) Profile
                            .row.no-gutters
                                .col
                                    if user.userDescription
                                        p= user.userDescription
                                    else
                                        p User don't have a description.
                    if user.streamType && user.streamType.includes('live')
                        .row.no-gutters#stream-information.mt-2.pb-2
                            .col-auto
                                img(
                                    src= user.streamThumbnailUrl, 
                                    alt= `${user.username}'s Thumbnail Picture`
                                    title= `${user.username}'s Thumbnail Picture`
                                ).rounded
                            .col.mx-2
                                .row.no-gutters
                                    .col
                                        p.font-weight-bold #{user.streamTitle}
                                    .col-auto
                                        div.mr-1.badge.badge-pill.badge-danger.text-white.px-2.py-1
                                            span LIVE
                                .row.no-gutters
                                    .col
                                        p.mt-1= `${user.streamViewerCount} ${user.streamViewerCount === 1 ? 'viewer' : 'viewers'}`
                                    .col-auto
                                        if user.streamGameName
                                            p.badge.badge-pill.category-tag.px-2.py-1 #{user.streamGameName}


                    
                                //- p.mt-1= `${user.streamViewerCount} ${user.streamViewerCount === 1 ? 'viewer' : 'viewers'}`
                                //- if user.streamGameName
                                //-     p.badge.badge-pill.category-tag.px-2.py-1 #{user.streamGameName}