extends parts/layout

block title
    title Mini Twitch - Home
block content
    - var warningClasses = ['bg-danger', 'rounded', 'text-white', 'font-weight-bold', 'text-center']
    #search-wrapper.container
        .row.justify-content-center
            .col-md-8.col-lg-6
                form#search.input-group.mb-2(method="get")
                    input.form-control(
                        type="text",
                        name="search",
                        placeholder="Username",
                        aria-label="Username",
                        aria-describedby="basic-addon2",
                        value="",
                        minlength="4",
                        maxlength="27"
                    )
                    .input-group-append
                        button.btn.btn-outline-secondary(type="submit", disabled=true) Submit
                p#search-warning(class=warningClasses)